section.gallery {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  background-color: #171717;
}
section.gallery .design {
  display: flex;
  justify-content: space-between;
  padding: 10px 5%;
  margin-bottom: 50px;
}
section.gallery .design img {
  width: 328px;
  height: 268px;
}

section.gallery .future {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  padding: 10px 8%;
  margin-bottom: 100px;
}
section.gallery .future img {
  width: 472px;
  height: 472px;
}
section.gallery .future .right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  color: white;
}
section.gallery .future .right img {
  width: 100%;
  height: 269px;
}

section.gallery .future .right h3 {
  font-size: 27px;
}
section.gallery .future .right p {
  font-size: 18px;
}

section.gallery .dashboard_car {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  padding: 10px 8%;
  margin-bottom: 100px;
}
section.gallery .dashboard_car .left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

section.gallery .dashboard_car .left img {
  width: 100%;
}

section.gallery .dashboard_car img.right {
  justify-self: end;
  height: 100%;
}

section.banner2 {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100vh;
}
section.banner2 img {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
}
section.banner2 .content {
  position: absolute;
  left: 100px;
  bottom: 200px;
  width: 100%;
}
section.banner2 .content h3 {
  color: white;
  font-size: 48px;
}
section.banner2 .content p {
  color: white;
  font-size: 27px;
  margin-bottom: 15px;
}
section.banner2 .content button.main {
  background-color: white;
  color: black;
  font-size: 16px;
  padding: 10px 30px;
}
section.banner2 .content button.hide {
  color: white;
  padding: 10px 30px;
  font-size: 16px;
}
section.banner2 .content button.hide:hover {
  background-color: white;
  color: black;
}

section.stories {
  display: flex;
  flex-direction: column;
  background-color: #171717;
  padding: 70px 5%;
}
section.stories .top {
  color: white;
}
section.stories .top h2 {
  font-size: 32px;
  margin-bottom: 30px;
}
section.stories .list_card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 30px;
}
section.stories .list_card .card {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 15px;
  color: white;
}
section.stories .list_card .card img {
  width: 100%;
  height: 330px;
  /* border: 1px solid white; */
}
section.stories .list_card .card p.title {
  font-size: 16px;
}
section.stories .list_card .card p.desc {
  font-size: 14px;
}

section.subscribe {
  display: flex;
  flex-direction: column;
  background-color: #171717;
  padding: 70px 5%;
  color: white;
}
section.subscribe h3 {
  font-size: 24px;
  margin-bottom: 20px;
}
section.subscribe .input input {
  color: #cecece;
  background-color: #171717;
  padding: 10px 0px;
  width: 300px;
  border-bottom: 1px solid white;
}
section.subscribe button i {
  color: white;
}

section.footer {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  background-color: #171717;
  padding: 70px 5%;
  color: white;
}

section.footer .left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
section.footer .left p,
section.footer .right p {
  margin-right: 150px;
}
section.footer .right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

@media (min-width: 320px) and (max-width: 767px) {
  section.gallery .design {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
  }
  section.gallery .dashboard_car {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  section.gallery .future {
    grid-template-columns: repeat(1, 1fr);
  }
  section.stories .list_card {
    grid-template-columns: repeat(1, 1fr);
  }
  section.footer .left {
    grid-template-columns: repeat(1, 1fr);
  }
  section.footer .left p,
  section.footer .right p {
    margin-right: 20px;
  }
  section.footer .right {
    grid-template-columns: repeat(1, 1fr);
  }
}
